Yannyo.SOAP/Web References/MailQueueServiceRe/MailQueueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.openx.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.openx.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.openx.cn/">
      <s:element name="SendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mSender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mSendMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mAddressee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mAddresseeMail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mIsHTML" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="SetSendTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailByMailEntityList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="tns:ArrayOfMailEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMailEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MailEntity" nillable="true" type="tns:MailEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="mTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mContent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mSender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mSendMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mAddressee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mAddresseeMail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="mIsHTML" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="mSetSendTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="mSendTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMailByMailEntityListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMailByMailEntityListResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="SendMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailByMailEntityListSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailByMailEntityList" />
  </wsdl:message>
  <wsdl:message name="SendMailByMailEntityListSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailByMailEntityListResponse" />
  </wsdl:message>
  <wsdl:portType name="MailQueueServiceSoap">
    <wsdl:operation name="SendMail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">逐条发送新邮件</wsdl:documentation>
      <wsdl:input message="tns:SendMailSoapIn" />
      <wsdl:output message="tns:SendMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailByMailEntityList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">批量发送新邮件</wsdl:documentation>
      <wsdl:input message="tns:SendMailByMailEntityListSoapIn" />
      <wsdl:output message="tns:SendMailByMailEntityListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailQueueServiceSoap" type="tns:MailQueueServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap:operation soapAction="http://www.openx.cn/SendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByMailEntityList">
      <soap:operation soapAction="http://www.openx.cn/SendMailByMailEntityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailQueueServiceSoap12" type="tns:MailQueueServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://www.openx.cn/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailByMailEntityList">
      <soap12:operation soapAction="http://www.openx.cn/SendMailByMailEntityList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailQueueService">
    <wsdl:port name="MailQueueServiceSoap" binding="tns:MailQueueServiceSoap">
      <soap:address location="http://mailqueue.yannyo.com/MailQueueService.asmx" />
    </wsdl:port>
    <wsdl:port name="MailQueueServiceSoap12" binding="tns:MailQueueServiceSoap12">
      <soap12:address location="http://mailqueue.yannyo.com/MailQueueService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>